In [1]:
import numpy as np
import pandas as pd

In [96]:
df1 = pd.read_csv('tmdb_5000_credits.csv')
df2 = pd.read_csv('tmdb_5000_movies.csv')

In [97]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [98]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [99]:
df2.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [100]:
df2['genres'][0]

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [101]:
df = df1.merge(df2, on='title')

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   movie_id              4809 non-null   int64
 1   title                 4809 non-null   object
 2   cast                  4809 non-null   object
 3   crew                  4809 non-null   object
 4   budget                4809 non-null   int64
 5   genres                4809 non-null   object
 6   homepage              1713 non-null   object
 7   id                    4809 non-null   int64
 8   keywords              4809 non-null   object
 9   original_language     4809 non-null   object
 10  original_title        4809 non-null   object
 11  overview              4806 non-null   object
 12  popularity            4809 non-null   float64
 13  production_companies  4809 non-null   object
 14  production_countries  4809 non-null   object
 15  release_date          4808 non-null   object
 16  revenue               4809 non-null   int64
 17  runtime               4807 non-null   float64
 18  spoken_languages      4809 non-null   object
 19  status                4809 non-null   object
 20  tagline               3965 non-null   object
 21  vote_average          4809 non-null   float64
 22  vote_count            4809 non-null   int64
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [103]:
df[["id", "movie_id"]] # both id and movie id are same

          id  movie_id
0      19995     19995
1        285       285
2     206647    206647
3      49026     49026
4      49529     49529
...      ...       ...
4804    9367      9367
4805   72766     72766
4806  231617    231617
4807  126186    126186
4808   25975     25975

[4809 rows x 2 columns]

In [104]:
df.columns

Index(['movie_id', 'title', 'cast', 'crew', 'budget', 'genres', 'homepage',
       'id', 'keywords', 'original_language', 'original_title', 'overview',
       'popularity', 'production_companies', 'production_countries',
       'release_date', 'revenue', 'runtime', 'spoken_languages', 'status',
       'tagline', 'vote_average', 'vote_count'],
      dtype='object')

In [105]:
df.shape

(4809, 23)

In [106]:
# can see that most of the movies are in english so don't need this column
df['original_language'].value_counts()

original_language
en    4510
fr      70
es      32
zh      27
de      27
hi      19
ja      16
it      14
ko      12
cn      12
ru      11
pt       9
da       7
sv       5
nl       4
fa       4
th       3
he       3
ta       2
cs       2
ro       2
id       2
ar       2
vi       1
sl       1
ps       1
no       1
ky       1
hu       1
pl       1
af       1
nb       1
tr       1
is       1
xx       1
te       1
el       1
Name: count, dtype: int64

In [107]:
# Required Columns
# genres
# id
# title
# overview (highly important) decribe the context of a movie
# we won't take tagline because it is not useful as tagline sometimes
# are very stylish not represent context of the movie
# cast (highly related)
# crew (ex :- fans like particular director movie like sanjay leela bhanshali ) 
# keywords

In [108]:
df = df[['id', 'genres', 'title', 'overview', 'cast', 'crew', 'keywords']]
df.head(1)

,id,genres,title,overview,cast,crew,keywords
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."

In [109]:
df.head()

,id,genres,title,overview,cast,crew,keywords
0,19995,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":..."
1,285,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na..."
2,206647,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name..."
3,49026,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,..."
4,49529,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":..."

In [110]:
df.info()
# only 3 columns don't have overview so we can easily remove that

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4809 non-null   int64
 1   genres    4809 non-null   object
 2   title     4809 non-null   object
 3   overview  4806 non-null   object
 4   cast      4809 non-null   object
 5   crew      4809 non-null   object
 6   keywords  4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [111]:
df = df.dropna()

In [112]:
df.duplicated().sum()

0

In [113]:
df.iloc[0]['genres']

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [114]:
# the problem is that this is a string we need to convert this into actual format
# '[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [115]:
import ast
ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

[{'id': 28, 'name': 'Action'},
 {'id': 12, 'name': 'Adventure'},
 {'id': 14, 'name': 'Fantasy'},
 {'id': 878, 'name': 'Science Fiction'}]

In [116]:
def extract_genres(genres_dict):
    list = []
    for i in ast.literal_eval(genres_dict):
        list.append(i['name'])
    return list

In [117]:
df['genres'] = df['genres'].apply(extract_genres)

In [118]:
df['keywords'] = df['keywords'].apply(extract_genres)

In [119]:
df.head()

,id,genres,title,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...","[culture clash, future, space war, space colon..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...","[ocean, drug abuse, exotic island, east india ..."
2,206647,"[Action, Adventure, Crime]",Spectre,A cryptic message from Bond’s past sends him o...,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...","[spy, based on novel, secret agent, sequel, mi..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...","[dc comics, crime fighter, terrorist, secret i..."
4,49529,"[Action, Adventure, Science Fiction]",John Carter,"John Carter is a war-weary, former military ca...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...","[based on novel, mars, medallion, space travel..."

In [120]:
def extract1(genres_dict):
    list = []
    counter = 0
    for i in ast.literal_eval(genres_dict):
        if counter == 3:
            break
        counter = counter + 1
        list.append(i['name'])
    return list

In [121]:
df['cast'] = df['cast'].apply(extract1)

In [122]:
def extract_director_name(genres_dict):
    list = []
    for i in ast.literal_eval(genres_dict):
        if i['job'] == 'Director':
            list.append(i['name'])
            break
    return list

In [123]:
df['crew'] = df['crew'].apply(extract_director_name)

In [124]:
df['overview'] = df['overview'].apply(lambda x : x.split())

In [125]:
df.head(2)

,id,genres,title,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, Science Fiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[culture clash, future, space war, space colon..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[ocean, drug abuse, exotic island, east india ..."

In [126]:
# we don't want this much columns but want to create tags

# and also we want tags so need to create a name with no spaces
#  ex :- SalmaanKhan, ScienceFiction etc

In [127]:
df['genres'] = df['genres'].apply(lambda x:[i.replace(" ", "") for i in x])
df['keywords'] = df['keywords'].apply(lambda x:[i.replace(" ", "") for i in x])
df['cast'] = df['cast'].apply(lambda x:[i.replace(" ", "") for i in x])
df['crew'] = df['crew'].apply(lambda x:[i.replace(" ", "") for i in x])

In [128]:
df

,id,genres,title,overview,cast,crew,keywords
0,19995,"[Action, Adventure, Fantasy, ScienceFiction]",Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[cultureclash, future, spacewar, spacecolony, ..."
1,285,"[Adventure, Fantasy, Action]",Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[ocean, drugabuse, exoticisland, eastindiatrad..."
2,206647,"[Action, Adventure, Crime]",Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[spy, basedonnovel, secretagent, sequel, mi6, ..."
3,49026,"[Action, Crime, Drama, Thriller]",The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[dccomics, crimefighter, terrorist, secretiden..."
4,49529,"[Action, Adventure, ScienceFiction]",John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[basedonnovel, mars, medallion, spacetravel, p..."
...,...,...,...,...,...,...,...
4804,9367,"[Action, Crime, Thriller]",El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui...","[CarlosGallardo, JaimedeHoyos, PeterMarquardt]",[RobertRodriguez],"[unitedstates–mexicobarrier, legs, arms, paper..."
4805,72766,"[Comedy, Romance]",Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended...","[EdwardBurns, KerryBishé, MarshaDietlein]",[EdwardBurns],[]
4806,231617,"[Comedy, Drama, Romance, TVMovie]","Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,...","[EricMabius, KristinBooth, CrystalLowe]",[ScottSmith],"[date, loveatfirstsight, narration, investigat..."
4807,126186,[],Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is...","[DanielHenney, ElizaCoupe, BillPaxton]",[DanielHsia],[]
4808,25975,[Documentary],My Date with Drew,"[Ever, since, the, second, grade, when, he, fi...","[DrewBarrymore, BrianHerzlinger, CoreyFeldman]",[BrianHerzlinger],"[obsession, camcorder, crush, dreamgirl]"

In [129]:
df['tag'] = df['overview'] + df['cast'] + df['crew'] + df['keywords'] + df['genres']
df['tag'][0]

['In',
 'the',
 '22nd',
 'century,',
 'a',
 'paraplegic',
 'Marine',
 'is',
 'dispatched',
 'to',
 'the',
 'moon',
 'Pandora',
 'on',
 'a',
 'unique',
 'mission,',
 'but',
 'becomes',
 'torn',
 'between',
 'following',
 'orders',
 'and',
 'protecting',
 'an',
 'alien',
 'civilization.',
 'SamWorthington',
 'ZoeSaldana',
 'SigourneyWeaver',
 'JamesCameron',
 'cultureclash',
 'future',
 'spacewar',
 'spacecolony',
 'society',
 'spacetravel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alienplanet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'loveaffair',
 'antiwar',
 'powerrelations',
 'mindandsoul',
 '3d',
 'Action',
 'Adventure',
 'Fantasy',
 'ScienceFiction']

In [130]:
df = df[['id', 'title' , 'tag']]
df.head(2)

,id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."

In [131]:
df['tag'] = df['tag'].apply(lambda x : " ".join(x))

C:\Users\Sony\AppData\Local\Temp\ipykernel_10224\2355018695.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['tag'].apply(lambda x : " ".join(x))

In [132]:
# lower everything
df['tag'] = df['tag'].apply(lambda x : x.lower())

C:\Users\Sony\AppData\Local\Temp\ipykernel_10224\912370315.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['tag'].apply(lambda x : x.lower())

In [133]:
# we need to do lemitization as 'action' and 'actions' are same

In [136]:
import nltk
from nltk.stem.porter import PorterStemmer

ps = PorterStemmer()
ps.stem('loving')

'love'

In [137]:
# stemming
def stem(text):
    list = []
    for word in text.split():
        list.append(ps.stem(word))

    return " ".join(list)

In [141]:
df['tag'] = df['tag'].apply(stem)

C:\Users\Sony\AppData\Local\Temp\ipykernel_10224\3726601249.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tag'] = df['tag'].apply(stem)

In [142]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english', max_features=2000)
vectors = tfidf.fit_transform(df['tag']).toarray()
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [143]:
tfidf.get_feature_names_out()

array(['000', '10', '11', ..., 'youth', 'zombi', 'zoo'], dtype=object)

In [145]:
# get the cosine similaritites of one vector to all others
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [ ]:
# to get the movie with most similarity score
sorted(list(enumerate(similarity[0])), reverse=True, key = lambda x : x[1])

[(0, 0.9999999999999999),
 (3728, 0.35893731537648577),
 (2405, 0.2878034817738608),
 (1214, 0.2756145379901604),
 (582, 0.25686599531207627),
 (3606, 0.22229115539654531),
 (3325, 0.22080910960508443),
 (1916, 0.21805460470764915),
 (539, 0.2147897685979872),
 (373, 0.2074807032582699),
 (778, 0.20205829919461793),
 (507, 0.20105129601323224),
 (47, 0.19906764969944374),
 (557, 0.19789047923517863),
 (513, 0.19155003774543983),
 (1069, 0.1872118439252814),
 (3536, 0.18684587689884719),
 (74, 0.18578746122944928),
 (4046, 0.18473383889956552),
 (2782, 0.184534734185661),
 (438, 0.18401830639337907),
 (61, 0.1839023584000416),
 (1533, 0.1829872554942636),
 (1087, 0.18233626777577197),
 (4336, 0.17865464931314157),
 (2329, 0.1762117968810011),
 (595, 0.17577239945570536),
 (305, 0.17460813949489368),
 (1346, 0.1741463504689007),
 (151, 0.17403661444764285),
 (1054, 0.1738016509960657),
 (2969, 0.17336258658275142),
 (4, 0.17312580337562747),
 (260, 0.17190614523011072),
 (1202, 0.16684924439046914),
 (311, 0.16670698823969332),
 (1319, 0.16595005064637014),
 (3626, 0.16470031124298062),
 (2968, 0.16435486887319067),
 (322, 0.16317237245696092),
 (184, 0.16243901732662291),
 (220, 0.15872715630836698),
 (838, 0.15769667017798775),
 (3671, 0.15721224328553726),
 (3160, 0.1571851431421969),
 (4190, 0.15703243073578),
 (27, 0.15594840598859128),
 (300, 0.1541822976432462),
 (1475, 0.15208825100768258),
 (461, 0.15180751444981894),
 (878, 0.15160126370274876),
 (2200, 0.1511762255261313),
 (2511, 0.15023872354272183),
 (83, 0.14937267396804846),
 (661, 0.14883666715199861),
 (577, 0.14856016231787078),
 (2580, 0.14803078164841277),
 (1327, 0.1478809567314277),
 (2727, 0.1457613253632199),
 (1199, 0.14493332275850468),
 (1978, 0.1442805213993399),
 (1273, 0.14323997479606318),
 (972, 0.14226509354981476),
 (2878, 0.14226509354981476),
 (495, 0.1413496634014541),
 (172, 0.14123503525502748),
 (942, 0.14019635306246858),
 (1342, 0.13979508443685007),
 (3407, 0.13954343628068713),
 (31, 0.13867698206241383),
 (3974, 0.13863929820018747),
 (36, 0.13790716420261642),
 (2869, 0.13704566219424424),
 (1440, 0.13691934540994963),
 (149, 0.13641961816079728),
 (1353, 0.13590824383805422),
 (3980, 0.13539762039735703),
 (3952, 0.1353481029907289),
 (2547, 0.13516733481397994),
 (1192, 0.1332285840089562),
 (1961, 0.13245814046284213),
 (476, 0.13124786060826474),
 (150, 0.131009049788164),
 (236, 0.13079518427464154),
 (1556, 0.1302785841569344),
 (3997, 0.1299490681611165),
 (1176, 0.12966589489214542),
 (3299, 0.12966499149022484),
 (3781, 0.12944300860372063),
 (579, 0.12940123187841368),
 (4538, 0.1275821291602115),
 (454, 0.12663349808612825),
 (502, 0.12660455203704266),
 (158, 0.12623193834214247),
 (3374, 0.12612926882530406),
 (95, 0.1259245217510127),
 (843, 0.12516007829845502),
 (342, 0.12488176928370719),
 (692, 0.12349089967318858),
 (91, 0.12260057964440106),
 (4405, 0.12203757242426252),
 (2552, 0.1219075266167615),
 (1770, 0.12099926383294919),
 (740, 0.12093021928375915),
 (41, 0.12079172620552013),
 (1711, 0.1182039796043951),
 (168, 0.1179187346157547),
 (275, 0.11724650783185997),
 (67, 0.11702764569786792),
 (1320, 0.11660919204754698),
 (3734, 0.1157735239641666),
 (1164, 0.11567227681225542),
 (2177, 0.11550147540662418),
 (2788, 0.112804272966229),
 (1827, 0.11277320807865542),
 (249, 0.11258377152669362),
 (432, 0.11195107351611702),
 (3460, 0.11190469516911736),
 (1737, 0.11188381664055293),
 (2543, 0.1109361598065422),
 (529, 0.11078285849477731),
 (1369, 0.10980469226228218),
 (3628, 0.1093077210395654),
 (1299, 0.10899776709022427),
 (581, 0.10878568983123325),
 (3779, 0.1081269692385603),
 (1271, 0.10760229545844294),
 (589, 0.10736118443123849),
 (2105, 0.10683083377459253),
 (1379, 0.10646489913278724),
 (3714, 0.10567780018786013),
 (1355, 0.105368832331715),
 (1842, 0.1047593019219375),
 (931, 0.10466311918856008),
 (189, 0.10451011356612222),
 (3081, 0.10425670793808353),
 (3307, 0.10379133424083706),
 (294, 0.10341335513693022),
 (3145, 0.10305681503312784),
 (4228, 0.1022596361642475),
 (52, 0.10214910612135049),
 (7, 0.10207363448461353),
 (3233, 0.10192183037541286),
 (1218, 0.1018014323885991),
 (26, 0.10166120301613907),
 (2017, 0.1013565927803075),
 (108, 0.10120727048015381),
 (368, 0.1007793599331291),
 (1000, 0.10045402779581843),
 (2756, 0.09997294995559904),
 (4040, 0.09979599932618556),
 (1029, 0.09976101184590308),
 (2648, 0.09946788552210384),
 (2640, 0.09942833006359605),
 (549, 0.09914394334812432),
 (737, 0.09881150949178169),
 (3862, 0.09850630546264247),
 (2736, 0.09842874126572061),
 (2785, 0.09829429363921235),
 (4196, 0.09817476246012542),
 (2492, 0.09794106004849235),
 (4077, 0.09789959520209646),
 (900, 0.0971411971012722),
 (2630, 0.09705736798417397),
 (1508, 0.09691690806579935),
 (3006, 0.09612866689708092),
 (4545, 0.09602216095653512),
 (1484, 0.09547864031083535),
 (2670, 0.09543559892791487),
 (568, 0.0951803987280565),
 (847, 0.09483296816945813),
 (2368, 0.09470383742996333),
 (2249, 0.09466838159390056),
 (94, 0.094519091182203),
 (17, 0.09442813414943134),
 (1095, 0.09419090180849889),
 (2095, 0.09393105601746882),
 (1761, 0.09392150320925677),
 (4793, 0.09374970613875966),
 (1804, 0.09332424209861304),
 (2280, 0.0925037860240433),
 (422, 0.09227726492879233),
 (3210, 0.09226742588003778),
 (2014, 0.0921422275876696),
 (2548, 0.0920765481009021),
 (3998, 0.0918928943542745),
 (487, 0.09179136640611794),
 (1741, 0.09065335071715941),
 (1934, 0.09053003945757813),
 (775, 0.09042242197431899),
 (3551, 0.09032455419834855),
 (3107, 0.09006888795075478),
 (937, 0.08991825859862773),
 (889, 0.08976000346851815),
 (1414, 0.08926010590812021),
 (647, 0.08897217679819089),
 (1013, 0.0886930936914776),
 (1493, 0.08868140624562422),
 (1922, 0.08861368218466771),
 (2056, 0.08824770992404715),
 (4587, 0.08821291801920753),
 (239, 0.08773228034620464),
 (4468, 0.08762633739085637),
 (1570, 0.08746673744521453),
 (111, 0.08737675934873335),
 (68, 0.08736151549405213),
 (3620, 0.08701784098633406),
 (1527, 0.08670926945750795),
 (3659, 0.08649324956029777),
 (3193, 0.08639287691238773),
 (1154, 0.0863700402494801),
 (307, 0.08586466045118077),
 (2484, 0.08550962947771373),
 (238, 0.08537888194589704),
 (126, 0.0851313674563241),
 (643, 0.08475572216435566),
 (635, 0.08446639720368818),
 (127, 0.08415384776278113),
 (1743, 0.08412742520039479),
 (3091, 0.08402404592185579),
 (2446, 0.08396249735451866),
 (87, 0.08383420749851367),
 (182, 0.08379617851457956),
 (281, 0.08377518150586101),
 (668, 0.08364922342915128),
 (2246, 0.08312068069138052),
 (56, 0.08306300904082814),
 (1435, 0.08298638549409049),
 (3089, 0.08239653889600047),
 (278, 0.08218688991057041),
 (1295, 0.08217928848908923),
 (777, 0.08215029748882097),
 (206, 0.08200483386009283),
 (1143, 0.08200330560514156),
 (1080, 0.08190620326900117),
 (1392, 0.0817595213645738),
 (3837, 0.08166527887815501),
 (2372, 0.08127445847676071),
 (473, 0.08122097249967099),
 (244, 0.08118058213478319),
 (18, 0.08114869928913963),
 (466, 0.08113023606811448),
 (2709, 0.08108774917116368),
 (2089, 0.08106267778851803),
 (3352, 0.080564073321089),
 (75, 0.08055471435608086),
 (1874, 0.08030923058721479),
 (85, 0.08029151715657164),
 (2997, 0.08019467706261839),
 (1798, 0.0801752696134094),
 (1043, 0.08017507168800231),
 (1806, 0.08008159261209212),
 (102, 0.07999793624008375),
 (1635, 0.07960981123287215),
 (752, 0.07952759547952244),
 (1084, 0.07950158956262401),
 (139, 0.07931496458248191),
 (2714, 0.07924895090620192),
 (141, 0.07923319714340539),
 (3872, 0.07920517065788471),
 (4506, 0.07919693044306692),
 (2129, 0.07918952854699826),
 (1401, 0.07885060050304127),
 (208, 0.07881224807097124),
 (2144, 0.07875982498326808),
 (1819, 0.07855355176843626),
 (3058, 0.07812748943222483),
 (754, 0.0774621000811282),
 (3933, 0.07737129179078302),
 (134, 0.07736065429471989),
 (898, 0.07729574987601523),
 (626, 0.07714084983557322),
 (1005, 0.07712584903323849),
 (2237, 0.07705025237628746),
 (4004, 0.07701415938854744),
 (510, 0.07693186422060622),
 (2813, 0.0759213968251069),
 (2635, 0.07589676770296198),
 (859, 0.07567353630237086),
 (1613, 0.07548107856688079),
 (1552, 0.07540338696258066),
 (2502, 0.07528008307049176),
 (535, 0.07484498924936518),
 (262, 0.07462657761283377),
 (564, 0.07447948797555796),
 (3908, 0.07427003795156564),
 (479, 0.07406147695138678),
 (2779, 0.0739083942035295),
 (2243, 0.0738456684531145),
 (570, 0.07372918795151323),
 (1272, 0.0736628574123423),
 (223, 0.07366060636190733),
 (1824, 0.07365391095447293),
 (142, 0.0734244412767552),
 (1610, 0.07339355130738065),
 (3446, 0.07333960515897664),
 (2374, 0.07319401061466396),
 (160, 0.07313093704364981),
 (123, 0.07311840085900977),
 (808, 0.07301563336709442),
 (1451, 0.07301036132703384),
 (505, 0.07283126484400584),
 (3439, 0.07280528428384922),
 (2165, 0.07268109189201147),
 (614, 0.07261535076217338),
 (1156, 0.072594025235908),
 (46, 0.07237313628124115),
 (791, 0.0722135930419954),
 (687, 0.07199298510294455),
 (1941, 0.07195864442644324),
 (256, 0.07193694291912875),
 (72, 0.071924527329683),
 (2618, 0.07179145351657845),
 (313, 0.07146268063175501),
 (1045, 0.07141246688480453),
 (3115, 0.07139818851709903),
 (170, 0.07125656542116346),
 (1829, 0.0711584154509704),
 (449, 0.07105084348773186),
 (3429, 0.07102093086500855),
 (84, 0.07100763485521298),
 (951, 0.07089840187177089),
 (166, 0.0707300169980631),
 (2656, 0.07065800756729933),
 (1302, 0.07062732810289651),
 (4017, 0.07043508537229055),
 (1119, 0.06988792366082337),
 (228, 0.069733004043043),
 (2697, 0.06967474859717152),
 (2155, 0.06961649621042584),
 (4241, 0.06953969296319286),
 (491, 0.06951282595459517),
 (1549, 0.06909916462307318),
 (3558, 0.06897914810904879),
 (3447, 0.06896150987148814),
 (3100, 0.06891867042089589),
 (2525, 0.06883373982896715),
 (266, 0.06879300311575622),
 (467, 0.06878079767142053),
 (4095, 0.06877631189591421),
 (2435, 0.06846014092744146),
 (254, 0.06841558393519967),
 (1651, 0.06825979887393048),
 (1534, 0.06817802466715664),
 (2759, 0.06816738568444575),
 (2363, 0.06812662914494325),
 (187, 0.0681038765994354),
 (1128, 0.06802902776486619),
 (646, 0.06798701880676813),
 (230, 0.06796593385387051),
 (1107, 0.06783508880149182),
 (939, 0.06778811320466002),
 (634, 0.06776867885268868),
 (3484, 0.06772711708772607),
 (2071, 0.0676322319711239),
 (157, 0.06759370848742023),
 (4654, 0.0675707142420866),
 (2936, 0.06741521161412099),
 (1482, 0.06731412181666732),
 (2783, 0.06727935020930761),
 (3473, 0.06727509103497097),
 (5, 0.067259361284778),
 (2768, 0.06700470909321081),
 (4412, 0.06700271341634662),
 (4266, 0.06666364102883439),
 (2260, 0.06660434903062307),
 (935, 0.06656099753806788),
 (624, 0.0665058036324542),
 (1483, 0.06636634719717141),
 (4799, 0.06633986529238677),
 (3753, 0.06622641192135927),
 (3718, 0.06603153364172579),
 (674, 0.06581721394388869),
 (541, 0.0655989457088615),
 (1017, 0.06553341281293257),
 (908, 0.06533333838668517),
 (1880, 0.0652785388281979),
 (4578, 0.06523117197026373),
 (2685, 0.06485028113542494),
 (131, 0.06476560623346031),
 (4798, 0.06468505777674438),
 (1200, 0.06466387034060642),
 (1925, 0.06459287091282225),
 (787, 0.06455795084102023),
 (246, 0.0645308952853752),
 (1465, 0.06450136627571813),
 (270, 0.06439934624631158),
 (480, 0.0643688175253227),
 (4652, 0.06428794101678231),
 (704, 0.0640518815264573),
 (2708, 0.06401472453433013),
 (4624, 0.0639955108561342),
 (43, 0.06395495491215236),
 (701, 0.0637101725652639),
 (363, 0.06370934852067953),
 (229, 0.0636552743483567),
 (2644, 0.06333922520646665),
 (1767, 0.06328172704023949),
 (1442, 0.06304243614618218),
 (2215, 0.06297362365809098),
 (2953, 0.06288633079416871),
 (4591, 0.06287692824718107),
 (4343, 0.06286722907474923),
 (286, 0.06285588902314207),
 (375, 0.06282293695386647),
 (632, 0.06263106474212415),
 (420, 0.06260404763812445),
 (2452, 0.062454658176266394),
 (4008, 0.06244511375753801),
 (3026, 0.062435295523321346),
 (404, 0.06204943237225638),
 (45, 0.06204590315654228),
 (28, 0.06197176040428926),
 (365, 0.061856904792644093),
 (2444, 0.06181530290003685),
 (3879, 0.06176949929847546),
 (3308, 0.06157289099089867),
 (3421, 0.06149660824250452),
 (4408, 0.06139748551024457),
 (222, 0.06132529629175507),
 (2327, 0.06113889754619305),
 (81, 0.06106287468896694),
 (274, 0.0610112510373737),
 (1292, 0.060818856192591156),
 (4781, 0.06075585382383526),
 (2588, 0.06069636136728853),
 (492, 0.06054234132116933),
 (1325, 0.060467786583960875),
 (3738, 0.06038054431280243),
 (870, 0.060181053387718834),
 (2195, 0.06007245191288259),
 (105, 0.05997920427561243),
 (1359, 0.05991823743344376),
 (2966, 0.059878510904622095),
 (1828, 0.059865493294495115),
 (472, 0.05983977346292087),
 (1310, 0.05970097121817206),
 (4341, 0.059666590920451686),
 (536, 0.05963747706567464),
 (3020, 0.059323417931209654),
 (3338, 0.059315520415820236),
 (14, 0.05931388485531195),
 (1094, 0.05929043923192414),
 (2628, 0.059227262905801735),
 (995, 0.0591397664606076),
 (413, 0.05891713363971421),
 (362, 0.05887153733135224),
 (1159, 0.05883078388976524),
 (412, 0.05865883388825795),
 (129, 0.05865185565004055),
 (4558, 0.058597605871739594),
 (1530, 0.05859592965901887),
 (4673, 0.05858481440962463),
 (3366, 0.05849923978245115),
 (331, 0.058480301538193655),
 (361, 0.058465960657069424),
 (1940, 0.05844343779422298),
 (138, 0.05842959185468404),
 (2494, 0.05841367380483398),
 (4257, 0.05825328343398999),
 (3174, 0.05823865912619711),
 (2809, 0.058237193631438006),
 (4492, 0.058215989566323775),
 (2140, 0.05816262417030589),
 (653, 0.05816135377140573),
 (3180, 0.05813648005197189),
 (1902, 0.05810091106033512),
 (678, 0.058096287503139485),
 (1436, 0.05801064065700066),
 (3162, 0.057885943131106773),
 (2655, 0.05782352303121527),
 (1953, 0.05777600210727115),
 (2228, 0.05777514729953212),
 (306, 0.0577219446455589),
 (325, 0.057680224583381366),
 (4201, 0.05765440126995826),
 (251, 0.05758865085692208),
 (234, 0.0572515161522069),
 (2393, 0.05700831474128358),
 (1571, 0.056955994676449906),
 (901, 0.05693191012949677),
 (2474, 0.05693106210965609),
 (786, 0.05685020621920635),
 (602, 0.056742261268543016),
 (217, 0.056670431011108),
 (654, 0.056621690196666664),
 (21, 0.056570400839724436),
 (963, 0.056495354283527276),
 (423, 0.05648344177176175),
 (389, 0.05646368290800089),
 (785, 0.05629253816656045),
 (2476, 0.056048954961434326),
 (1845, 0.056011532099834),
 (4777, 0.055998748432821197),
 (86, 0.05588134522615678),
 (617, 0.0558344203981636),
 (2123, 0.05572801872250087),
 (3428, 0.055722384644379536),
 (2382, 0.05561271102269811),
 (986, 0.05536851797297768),
 (790, 0.055362220050855365),
 (1278, 0.05534829732862764),
 (3832, 0.055253299376717316),
 (4351, 0.05524689460622782),
 (3735, 0.05520789214528529),
 (855, 0.05507144879603448),
 (1487, 0.05495495727461537),
 (1786, 0.05485135759790657),
 (4203, 0.05475795756073036),
 (1297, 0.05470850362913271),
 (193, 0.054607353271846806),
 (1035, 0.05458110426953889),
 (32, 0.05443111054284705),
 (330, 0.05440765005547874),
 (1002, 0.05433549089338008),
 (1118, 0.054297816362035595),
 (572, 0.054292090845792965),
 (3632, 0.05422161798885534),
 (2807, 0.05421103956520221),
 (1682, 0.05416947721212741),
 (332, 0.0540763093567582),
 (3, 0.054041161964236924),
 (1169, 0.053986396812283094),
 (63, 0.05393334443261017),
 (2111, 0.05389904760096761),
 (3387, 0.05388927472011229),
 (445, 0.05387796133142302),
 (1771, 0.05385296574955951),
 (2157, 0.05384307434775673),
 (154, 0.053749171538362325),
 (1469, 0.05374826748381799),
 (488, 0.053734569710385274),
 (2850, 0.053721353993070674),
 (1696, 0.0536855289938879),
 (899, 0.0536774675653245),
 (2589, 0.05367740085938643),
 (4782, 0.05365531167177488),
 (1166, 0.053592181467320484),
 (179, 0.05358367295252635),
 (3674, 0.05358042242156463),
 (89, 0.05356033791249203),
 (37, 0.05354800913120906),
 (4358, 0.05352466442534196),
 (680, 0.0535166095629267),
 (1205, 0.05349797075594642),
 (1969, 0.05344284586354934),
 (2646, 0.053136749656001875),
 (894, 0.05312372342128159),
 (781, 0.05297121028982418),
 (3808, 0.052915076863285705),
 (3513, 0.05285769052224597),
 (410, 0.05274376227048595),
 (1229, 0.05269808281652156),
 (2018, 0.05266446991255347),
 (4472, 0.0526289139662431),
 (2641, 0.05260853975914979),
 (3535, 0.052476514480635415),
 (3223, 0.05245613209808588),
 (2601, 0.05243187673907461),
 (2102, 0.05242435637786534),
 (1173, 0.05234161927085735),
 (1492, 0.05230231740112297),
 (4403, 0.05227346146685663),
 (1021, 0.05226249536769327),
 (3067, 0.052237897199995255),
 (1654, 0.05223465153848354),
 (3304, 0.052234289212682306),
 (88, 0.052220281027400416),
 (3295, 0.05212883976572283),
 (1473, 0.05211661992310407),
 (4110, 0.05211611735767168),
 (4123, 0.05208186086486111),
 (1025, 0.051995319920756906),
 (4348, 0.05186894953958471),
 (199, 0.05177560475134983),
 (2900, 0.051708675071993164),
 (621, 0.05170468118577291),
 (348, 0.051646748325325634),
 (2758, 0.05154086790846465),
 (235, 0.05152363964476264),
 (169, 0.051480317369842744),
 (875, 0.051358823160286504),
 (501, 0.051305111751757594),
 (770, 0.05129844301273594),
 (2199, 0.05126315994121268),
 (814, 0.05125992919611908),
 (4043, 0.05125714534057345),
 (121, 0.051212675412615205),
 (1287, 0.05112833330450015),
 (794, 0.051072760737585696),
 (148, 0.05102923560079744),
 (1276, 0.051010758391075745),
 (19, 0.050994683889554304),
 (2134, 0.05082043873697887),
 (2876, 0.050785058011702154),
 (4178, 0.050593357122239016),
 (2291, 0.050590018252354534),
 (4640, 0.05052724888450006),
 (3929, 0.050442230977930574),
 (1778, 0.05037667071506218),
 (2415, 0.05025380134677019),
 (1497, 0.05020903781905796),
 (1397, 0.05017392386944825),
 (773, 0.05004732462986383),
 (2852, 0.04997737880428742),
 (4620, 0.04994565287522019),
 (232, 0.049905797549634326),
 (1016, 0.04990377688548255),
 (2319, 0.04990255181058735),
 (1717, 0.049756276026255),
 (2566, 0.049625920586613165),
 (576, 0.04961624533475151),
 (490, 0.0495855141825456),
 (153, 0.04956536657128664),
 (3899, 0.04919313512457993),
 (3903, 0.04906345519964816),
 (546, 0.048968177068129046),
 (2798, 0.04896466669907755),
 (2068, 0.048923155718683095),
 (1520, 0.0489176295455658),
 (799, 0.04890586109113947),
 (125, 0.04886258354065331),
 (3070, 0.04884230292013891),
 (3320, 0.048826048635274844),
 (2647, 0.048795519171314),
 (4163, 0.04877313888529442),
 (415, 0.04870805817788642),
 (3296, 0.048676848360058644),
 (1423, 0.04858835440142853),
 (430, 0.04843688082302779),
 (190, 0.048397860323080494),
 (1920, 0.04833926363887016),
 (356, 0.04822676700955714),
 (4380, 0.048189194274363245),
 (200, 0.04815077075040022),
 (1288, 0.04812602276336009),
 (4254, 0.048087185117883804),
 (2836, 0.04802030747086187),
 (3793, 0.048009924912890536),
 (1066, 0.047965249617182314),
 (3204, 0.04796476688354232),
 (2011, 0.047959986942449),
 (483, 0.04770585979949252),
 (4483, 0.047667597862645184),
 (3669, 0.047665781590818634),
 (2682, 0.04759089025059471),
 (4641, 0.04758602147007719),
 (341, 0.04758085525625801),
 (2445, 0.047579338664326676),
 (4316, 0.04756091745275694),
 (2617, 0.04749722662883952),
 (11, 0.04727794898631654),
 (2500, 0.04727574569939996),
 (866, 0.04724165506347862),
 (243, 0.047227420274691304),
 (103, 0.04721720538453207),
 (2946, 0.047130057827602954),
 (1515, 0.04710601991417251),
 (1247, 0.047047110519197174),
 (2212, 0.04703244772286596),
 (1603, 0.04702591416467394),
 (1235, 0.046934113231425975),
 (897, 0.046893234147390696),
 (854, 0.046837461875569086),
 (2571, 0.046823833959052756),
 (1612, 0.0468112374892614),
 (945, 0.04678792631660758),
 (797, 0.04669872150514351),
 (1260, 0.04669815477839734),
 (48, 0.04667367837323172),
 (1918, 0.04667266680245624),
 (334, 0.04655896024355173),
 (2737, 0.0463957813819252),
 (3975, 0.04638376909935871),
 (2816, 0.04637441512752808),
 (1428, 0.046286080333126006),
 (3390, 0.04627054972950623),
 (3251, 0.046266995624695606),

In [150]:
def recommend(movie):
    movie_index = df[df['title'] == movie].index[0]

    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)), reverse=True, key = lambda x : x[1])[1:6]

    for i in movies_list:
        print(df.iloc[i[0]].title)

In [151]:
recommend('Avatar')

Falcon Rising
Aliens
Aliens vs Predator: Requiem
Battle: Los Angeles
Apollo 18

In [152]:
recommend('Batman Begins')

The Dark Knight
Batman v Superman: Dawn of Justice
Batman
Batman
The Dark Knight Rises

In [154]:
import pickle as pkl

pkl.dump(df.to_dict(), open("movie_dict.pkl", "wb"))

In [155]:
pkl.dump(similarity, open("similarity.pkl", "wb"))

In [2]:
!pip install huggingface-hub

Collecting huggingface-hub
  Using cached huggingface_hub-0.27.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: filelock in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (3.15.4)
Requirement already satisfied: fsspec>=2023.5.0 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (2024.6.1)
Requirement already satisfied: packaging>=20.9 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (24.1)
Collecting pyyaml>=5.1 (from huggingface-hub)
  Using cached PyYAML-6.0.2-cp311-cp311-win_amd64.whl.metadata (2.1 kB)
Requirement already satisfied: requests in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (4.66.5)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from huggingface-hub) (4.12.2)
Requirement already satisfied: colorama in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from tqdm>=4.42.1->huggingface-hub) (0.4.6)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sony\appdata\local\programs\python\python311\lib\site-packages (from requests->huggingface-hub) (2024.8.30)
Using cached huggingface_hub-0.27.0-py3-none-any.whl (450 kB)
Using cached PyYAML-6.0.2-cp311-cp311-win_amd64.whl (161 kB)
Installing collected packages: pyyaml, huggingface-hub
Successfully installed huggingface-hub-0.27.0 pyyaml-6.0.2

In [13]:
from huggingface_hub import create_repo

# Replace 'your-repo-name' with your desired repository name
repo_url = create_repo("Movie_Recommendation_System2", private=True)
print(repo_url)

https://huggingface.co/AbhayUrmaliya2004/Movie_Recommendation_System2

In [14]:
from huggingface_hub import HfApi, Repository

# Replace with your repository name
repo_name = "AbhayUrmaliya2004/Movie_Recommendation_System2"

# Path to your local file
file_path = "model\similarity.pkl"

# Initialize API
api = HfApi()

# Upload file
api.upload_file(
    path_or_fileobj=file_path,
    path_in_repo="similarity.pkl",  # Path where the file will be stored in the repo
    repo_id=repo_name,
    repo_type="model"  # Can also use "model" if appropriate
)

similarity.pkl: 100%|██████████| 185M/185M [00:40<00:00, 4.58MB/s]

CommitInfo(commit_url='https://huggingface.co/AbhayUrmaliya2004/Movie_Recommendation_System2/commit/1274259946f146f9f9ebcad4f33e7e309d1d77aa', commit_message='Upload similarity.pkl with huggingface_hub', commit_description='', oid='1274259946f146f9f9ebcad4f33e7e309d1d77aa', pr_url=None, repo_url=RepoUrl('https://huggingface.co/AbhayUrmaliya2004/Movie_Recommendation_System2', endpoint='https://huggingface.co', repo_type='model', repo_id='AbhayUrmaliya2004/Movie_Recommendation_System2'), pr_revision=None, pr_num=None)

In [16]:
from huggingface_hub import hf_hub_download
import pickle

# Download the file
file_path = hf_hub_download(
    repo_id="AbhayUrmaliya2004/Movie_Recommendation_System2",
    filename="similarity.pkl",
    repo_type="model"
)

# Load the file using pickle
with open(file_path, "rb") as f:
    similarity = pickle.load(f)

c:\Users\Sony\AppData\Local\Programs\Python\Python311\Lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Sony\.cache\huggingface\hub\models--AbhayUrmaliya2004--Movie_Recommendation_System2. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

array([[1.        , 0.03227893, 0.04267188, ..., 0.0330603 , 0.        ,
        0.        ],
       [0.03227893, 1.        , 0.01947043, ..., 0.02602713, 0.        ,
        0.00993274],
       [0.04267188, 0.01947043, 1.        , ..., 0.02389593, 0.        ,
        0.        ],
       ...,
       [0.0330603 , 0.02602713, 0.02389593, ..., 1.        , 0.02995419,
        0.04287106],
       [0.        , 0.        , 0.        , ..., 0.02995419, 1.        ,
        0.03204038],
       [0.        , 0.00993274, 0.        , ..., 0.04287106, 0.03204038,
        1.        ]])